{{#apiInfo}}
{{#apis}}
{{#operations}}
export * from './{{ classFilename }}';
import { {{ classname }} } from './{{ classFilename }}';
{{/operations}}
{{#withInterfaces}}
export * from './{{ classFilename }}Interface'
{{/withInterfaces}}
{{/apis}}
import * as http from 'http';

export class HttpError extends Error {
    public response: http.IncomingMessage;
    public body: any;
    public headers: any;
    public statusCode: number;

    constructor (response: http.IncomingMessage, rawBody: any, statusCode: number) {
        super('HTTP request failed');
        this.name = 'HttpError';
        this.response = response;
        this.body = rawBody._embedded.errors;
        this.statusCode = statusCode;
        this.headers = response.rawHeaders;
    }
}

export { RequestFile } from '../model/models';

export const APIS = [{{#apis}}{{#operations}}{{ classname }}{{/operations}}{{^-last}}, {{/-last}}{{/apis}}];
{{/apiInfo}}
