// This is the entrypoint for the package
import * as finix from './api/apis';
export * as Models from './model/models';

let defaultBasePath = 'https://finix.sandbox-payments-api.com';
{{#apiInfo}}
export class Client {

    {{#apis}}
    {{#operations}}
    readonly {{#lambda.titlecase}}{{ classVarName }}{{/lambda.titlecase}}: finix.{{classname}};
    {{/operations}}
    {{/apis}}

    protected _basePath = defaultBasePath;

    {{#authMethods}}
    {{#isBasicBasic}}
    protected _username: string;
    protected _password: string;
    {{/isBasicBasic}}
    {{/authMethods}}

    // constructor(basePath?: string);
    // constructor(basePathOrUsername: string, password: string, basePath?: string);
    constructor(username: string, password: string, basePath?: string) {
        this._username = username;
        this._password = password
        if (basePath) {
            this.basePath = basePath;
        }
        {{#apis}}
        {{#operations}}
        this.{{#lambda.titlecase}}{{ classVarName }}{{/lambda.titlecase}} = new finix.{{classname}}(this.username, this.password, this.basePath);
        {{/operations}}
        {{/apis}}
    }

    set basePath(basePath: string) {
        this._basePath = basePath;
    }

    get basePath() {
        return this._basePath;
    }

{{#authMethods}}
{{#isBasicBasic}}
    set username(username: string) {
        this._username = username;
    }

    set password(password: string) {
        this._password = password;
    }

    get username() {
        return this._username;
    }

    get password() {
        return this._password;
    }
{{/isBasicBasic}}
{{/authMethods}}

}
{{/apiInfo}}

export enum Environment{
    Sandbox = 'https://finix.sandbox-payments-api.com',
    Live = 'https://finix.live-payments-api.com'
}